/***************************************/
/*               GENERAL               */
/***************************************/

body {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #808080;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-family: 'Nova Mono', cursive;
  font-weight: normal;
  color: #2E9F13;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 2.4em;
}

h3 {
  font-size: 1.6em;
}

p, ul, ol {
  margin-top: 0;
  line-height: 180%;
}

ul, ol {
}

a {
  text-decoration: none;
  color: #808080;
}

a:hover {
  color: #2d2d2d;
}

img.border {
  border: 6px solid #EEE7DF;
}

img.alignleft {
  float: left;
  margin-right: 25px;
}

img.alignright {
  float: right;
}

img.aligncenter {
  margin: 0px auto;
}

#wrapper {
  margin: 0 auto;
  padding: 0;
}

/***************************************/
/*               HEADER                */
/***************************************/

#login-display {
  background: #FFFFFF;
  height: 24px;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 24px;
  padding: 0 10px 0 10px;
}

#login-display a {
  color: #006699;
}

#header-wrapper {
  height: 180px;
}

#header {
  width: 960px;
  height: 180px;
  margin: 0 auto;
  background: #2d2d2d;
  font-weight: bold;
  position: relative;
}

/***************************************/
/*                 LOGO                */
/***************************************/

#logo {
  float: left;
  height: 100px;
  margin: 0;
  padding: 0px;
  color: #FFFFFF;
}

#logo h1, #logo p {
  margin: 0;
  padding: 0;
}

#logo h1 {
  float: left;
  margin: 0px;
  padding-top: 30px;
  padding-left: 30px;
  letter-spacing: -1px;
  font-size: 64px;
  color: #FFFFFF;
}

#logo h1 a {
  color: #FFFFFF;
}

#logo p {
  padding: 0px 0 0 34px;
  font-family: 'Nova Mono', cursive;
  font-size: 20px;
}

#logo a {
  border: none;
  background: none;
  text-decoration: none;
  color: #A4A4A4;
}

#logo img {
  width: 180px;
  height: 180px;
}

/***************************************/
/*                 MENU                */
/***************************************/

#menu {
  width: 960px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
}

#menu ul {
  margin: 0;
  padding: 0px 0px 0px 0px;
  list-style: none;
  line-height: normal;
}

#menu li {
  float: left;
}

#menu a {
  display: block;
  float: left;
  height: 35px;
  margin: 0px;
  padding: 5px 30px 0px 30px;
  text-decoration: none;
  font-family: 'Nova Mono', cursive;
  font-size: 20px;
  color: #A1A1A1;
  border: none;
}

#menu .current_page_item a {
  text-decoration: underline;
}

#menu a:hover {
  text-decoration: none;
  color: #2d2d2d;
}

/***************************************/
/*                 PAGE                */
/***************************************/

#page {
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

#page-bgtop {
}

#page-bgbtm {
  margin: 0px;
  padding: 40px 30px 0px 30px;
}

/***************************************/
/*               CONTENT               */
/***************************************/

#content {
  float: left;
  width: 600px;
  padding: 0px 0px 0px 0px;
}

.post {
  clear: both;
  padding-top: 20px;
  padding-bottom: 10px;
}

.post .title {
  padding-top: 10px;
  letter-spacing: -2px;
}

.post .title a {
  color: #1A1A1A;
  border: none;
}

.post .meta {
  padding-bottom: 10px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-style: italic;
}

.post .meta a {
      color: #1A1A1A;
}

.post .entry {
  text-align: justify;
  margin-bottom: 25px;
  padding: 10px 0px 0px 0px;
  font-color: #191919;
  min-height: 180px;
}

.post .entry a {
  color: #FFFFFF;
}

.post .entry img {
  width: 186px;
  height: 186px;
  float: left;
  padding: 0px 10px 0px 0px;
}

.post .comments {
  margin-bottom: 20px;
}

.post .comments h3 {
  color: #2d2d2d;
  margin-bottom: 24px;
}

.post .comments .comment {
  margin-left: 50px;
  /*background-image: url('images/comment_bg.jpg');
  background-repeat: repeat-y;*/
  border-left: 5px solid;
  padding: 5px 0 5px 10px;
  margin-bottom: 36px;
}

.post .commentform h3 {
  color: #2d2d2d;
  margin-bottom: 10px;
}

.post .commentform form {
  margin-left: 50px;
}

.post .commentform label {
  width: 15%;
}

.links {
  display: block;
  width: 96px;
  padding: 2px 0px 2px 0px;
  background: #A53602;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  color: #FFFFFF;
}

#register-form h1 {
    color: #2d2d2d;
}

#register-form form {
    padding-top: 25px;
}

#login-form h1 {
    color: #2d2d2d;
}

#login-form form {
    padding-top: 25px;
}

/***************************************/
/*               SIDEBAR               */
/***************************************/

#sidebar {
  float: right;
  width: 240px;
  padding: 0px 0px 0px 0px;
}

#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#sidebar li {
  margin: 0;
  padding: 0;
}

#sidebar li ul {
  margin: 0px 15px;
  padding-bottom: 30px;
}

#sidebar li li {
  padding-left: 20px;
  line-height: 35px;
}

#sidebar li li span {
  display: block;
  margin-top: -20px;
  padding: 0;
  font-size: 11px;
  font-style: italic;
}

#sidebar h2 {
  height: 38px;
  margin-bottom: 20px;
  padding: 12px 0 0 15px;
  border-bottom: 1px solid #D0D0D0;
  letter-spacing: -1px;
  font-size: 24px;
  color: #1A1A1A;
}

#sidebar p {
  margin: 0 0px;
  padding: 0px 20px 20px 20px;
  text-align: justify;
}

#sidebar a {
  border: none;
}

#sidebar a:hover {
  color: #2d2d2d;
}

/***************************************/
/*               FOOTER                */
/***************************************/

#footer {
  width: 960px;
  height: 55px;
  margin: 0px auto 40px auto;
  border-top: 1px solid #D0D0D0;
  font-family: Arial, Helvetica, sans-serif;
}

#footer p {
  margin: 0;
  padding-top: 18px;
  line-height: normal;
  text-align: center;
  color: #676767;
}

#footer a {
  color: #676767;
}
