{% extends "index.html" %}
{% load comments %}

{% block nav_home %}current_page_item{% endblock %}

{% block content %}

    {% for post in posts %}
        <div class="post">
            <h2 class="title"><a href="{% url post_view post.id %}">{{ post.title }} </a></h2>
            <p class="meta">
                Dodano przez: <a href="#">{{ post.owner.username }}</a> &nbsp;&bull;&nbsp; {{ post.created|date:"j E Y" }} &nbsp;&bull;&nbsp;
                {% get_comment_count for post as comment_count %}
                <a href="{% url post_view post.id %}#comments" class="comments">Komentarze ({{ comment_count }})</a>
            </p>

            <div class="entry">
                <p>
                {% if post.image %}
                    <img src="{{ post.image.url }}" />
                {% else %}
                    <img src="{{ STATIC_URL }}images/{{ post.image_uri }}" />
                {% endif %}
                {% if post.body|wordcount > 50 %}
                    {{ post.body|safe|truncatewords:50|linebreaks }}
                    <div id="more"><a href="{% url post_view post.id %}">więcej</a></div>
                {% else %}
                    {{ post.body|safe|linebreaks }}</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <div style="clear: both;">&nbsp;</div>

{% endblock %}
