<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Metalurg blog</title>
<link href='http://fonts.googleapis.com/css?family=Nova+Mono' rel='stylesheet' type='text/css' />
<link href="{{ STATIC_URL }}style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
    <!-- header -->
  <div id="header-wrapper">
    <div id="header">
      <div id="logo">
        <h1><a href="/blog">Metalurg </a></h1>
        <p>a music blog</p>
      </div>
    </div>
  </div>
  <!-- end header -->
  <!-- main menu -->
  {% block menu %}
  <div id="menu">
    <ul>
      <li class="{% block nav_home %}{% endblock %}"><a href="/blog">Blog</a></li>
      <li class="{% block nav_reviews %}{% endblock %}"><a href="/reviews">Rewiews</a></li>
      <li class=""><a href="/shows">Shows</a></li>
      <li class=""><a href="/links">Links</a></li>
      <li class=""><a href="/contact">Contact</a></li>
    </ul>
  </div>
  {% endblock %}
  <!-- end main menu -->
  <div id="page">
    <div id="page-bgtop">
      <div id="page-bgbtm">
                <div id="content">
            {% block content %}
            {% endblock %}
                </div>
        <div id="sidebar">
          <ul>
            <li>
              <h2>About author</h2>
              <p>Mauris vitae nisl nec metus placerat perdiet est. Phasellus dapibus semper consectetuer hendrerit.</p>
            </li>
            <li>
              <h2>Categories</h2>
              <ul>
                <li><a href="#">Aliquam libero</a></li>
                <li><a href="#">Consectetuer adipiscing elit</a></li>
                <li><a href="#">Metus aliquam pellentesque</a></li>
                <li><a href="#">Suspendisse iaculis mauris</a></li>
                <li><a href="#">Urnanet non molestie semper</a></li>
                <li><a href="#">Proin gravida orci porttitor</a></li>
              </ul>
            </li>
            {% block archives %}
            <li>
              <h2>Archives</h2>
              <ul>
                <!--  <li><a href="#">Aliquam libero</a></li>
                <li><a href="#">Consectetuer adipiscing elit</a></li>
                <li><a href="#">Metus aliquam pellentesque</a></li>
                <li><a href="#">Suspendisse iaculis mauris</a></li>
                <li><a href="#">Urnanet non molestie semper</a></li>
                <li><a href="#">Proin gravida orci porttitor</a></li> -->
                {% for event_year in list_events %}
                <ul class="year">{{event_year.keys.0}}
                    {% for month, events in event_year.values.0.items %}
                    <!--show only months with events! -->
                    <!-- {% if events %} -->
                        <li id="{{event_year.keys.0}}-{{month}}" class="month">
                            <div class="month-data">
                                <div class="collapsed">►&nbsp;</div>
                                <div class="expanded" style="display:none;">▼&nbsp;</div>
                                <span class="name"><a href="#">{{events.0.created|date:"F"}}</a></span>
                                <span class="counter"> ({{events|length}})</span>
                            </div>
                            <ul class="events" style="display:none;">
                            {% for event in events %}
                                <li class="event">
                                    <a class="title" href="#">{{event.title}}</a>
                                    <div class="date">{{event.created|date:"j M Y"}}</div>
                                    <div class="place">{{event.title}}</div>
                                </li>
                            {% endfor %}
                            </ul>
                        </li>
                    <!--  {% endif %} -->
            </li>
            {% endfor %}
        </ul>
    {% endfor %}
              </ul>
            </li>
            {% endblock %}
          </ul>
        </div>
        <!-- end #sidebar -->
        <div style="clear: both;">&nbsp;</div>
      </div>
    </div>
  </div>
  <!-- end #page -->
</div>
<div id="footer">
  <p>Copyright (c) 2012 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/"> CSS Templates</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
