<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Metalurg blog</title>
        <link href='http://fonts.googleapis.com/css?family=Nova+Mono' rel='stylesheet' type='text/css' />
        <link href="{{ STATIC_URL }}style.css" rel="stylesheet" type="text/css" media="screen" />
        <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" />
    </head>
<body>
<div id="wrapper">
    <!-- header -->
  <div id="header-wrapper">
    <div id="header">
      <div id="logo">
        <h1><a href="{% url index_view %}">♥ Metalurg </a></h1>
      </div>
      <div id="login-display">
          {% if user.is_authenticated %}
              <p>Zalogowany jako {{ user.username }}. <a href="/logout">Wyloguj</a>.</p>
          {% else %}
              <p>Witaj. <a href="/login">Zaloguj się</a> lub <a href="/register">zarejestruj</a>.</p>
          {% endif %}
      </div>
    </div>
  </div>
  <!-- end header -->
  <!-- main menu -->
  {% block menu %}
  <div id="menu">
    <ul>
      <li class="{% block nav_home %}{% endblock %}"><a href="{% url index_view %}">Blog</a></li>
      <!--<li class="{% block nav_photos %}{% endblock %}"><a href="/photos">Galeria</a></li>-->
      <!--<li class="{% block nav_team %}{% endblock %}"><a href="/team">Drużyna</a></li>-->
      <li class="{% block nav_fixtures %}{% endblock %}"><a href="{% url tournaments_view %}">Mecze</a></li>
      <!-- <li class="{% block nav_achivements %}{% endblock %}"><a href="{% url achivements_view %}">Sukcesy</a></li>-->
      <li class="{% block nav_links %}{% endblock %}"><a href="{% url links_view %}">Linki</a></li>
    </ul>
  </div>
  {% endblock %}
  <!-- end main menu -->
  <div id="page">
    <div id="page-bgtop">
      <div id="page-bgbtm">
                <div id="content">
            {% block content %}
            {% endblock %}
                </div>
        <div id="sidebar">
          <ul>
            <li>
              <h2>O nas</h2>
              <p>Metalurg jest drużyną siatkarską powstałą w Warszawie na początku 2012 roku.</p>
            </li>
            <li>
              <h2>Ostatnie mecze</h2>
              <table class="scores-sidebar">
              {% for fixture in recent_fixtures %}
                  <tr>
                      <td class="team-name">
                          {% if fixture.home == 'Metalurg' %}
                              {{ fixture.away }}
                          {% else %}
                              {{fixture.home}}
                          {% endif %}
                      </td>
                      <td {% if fixture.win %} class="score-won" {% else %} class="score-lost" {% endif %}>
                          {{ fixture.home_score }}-{{ fixture.away_score }}
                      </td>
                  </tr>
              {% endfor %}
              </table>
            </li>
            {% block archives %}
            <li>
              <h2>Archiwum</h2>
                {% for event_year in archive_posts %}
                <ul><a href="/blog/archives/{{ event_year.keys.0 }}">{{ event_year.keys.0 }}</a>
                    {% for month, events in event_year.values.0.items %}
                    <!--show only months with events! -->
                    {% if events %}
                        <li>►<a href="/blog/archives/{{ event_year.keys.0 }}/{{ month }}">{{ events.0.created|date:"F" }}
                                  ({{ events|length }})</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endfor %}
            </li>
            {% endblock %}
          </ul>
        </div>
        <!-- end #sidebar -->
        <div style="clear: both;">&nbsp;</div>
      </div>
    </div>
  </div>
  <!-- end #page -->
</div>
<div id="footer">
    <p>Copyright (c) 2012 Michał Ziemba.</a></p>
</div>
<!-- end #footer -->
</body>
</html>
