{% extends "index.html" %}

{% block nav_reviews %}current_page_item{% endblock %}

{% block content %}

    {% for post in object_list %}
        <div class="post">
            <h2 class="title"><a href="/reviews/{{post.id}}">{{ post.title }} </a></h2>
            <p class="meta">
                Posted by <a href="/user/{{post.owner.login}}">{{ post.owner.login }}</a> on {{ post.added|date:"F j, Y" }} &nbsp;&bull;&nbsp;
                <a href="/reviews/{{post.id}}/comments" class="comments">Comments (64)</a> &nbsp;&bull;&nbsp;
                <a href="/reviews/{{post.id}}" class="permalink">Full review</a>
            </p>
        </div>
    {% endfor %}
    <div style="clear: both;">&nbsp;</div>

{% endblock %}