{% extends "index.html" %}

{% block nav_reviews %}current_page_item{% endblock %}

{% block content %}

        <div class="post">
            <h2 class="title"><a href="/review/{{review.id}}">{{ review.title }} </a></h2>
            <p class="meta">
                Posted by <a href="/user/{{post.owner.login}}">{{ review.owner.login }}</a> on {{ review.added|date:"F j, Y" }} &nbsp;&bull;&nbsp;
                <a href="/review/{{review.id}}/comments" class="comments">Comments (64)</a> &nbsp;&bull;&nbsp;
            </p>

            <div class="entry">
                <p><img src="{{ STATIC_URL }}images/covers/riverside1.jpg" width="186" height="186" alt="" class="alignleft border" />
                {{ review.body|safe|linebreaks }}</p>
            </div>

            <div class="tags">
                Tags:
                {% for tag in review.tags.all %}
                    <a href="/blog/tag/{{tag}}">{{tag}}</a>
                    {% if not forloop.last %}, {%endif %}
                {% endfor %}
            </div>
        </div>

{% endblock %}