{% extends "index.html" %}

{% block nav_team %}current_page_item{% endblock %}

{% block content %}

    <h2 class="page-title">Skład</h2>
    <!-- <table class="team">
        {% for player in players %}
            <tr class="player">
                <td><img src="{{ STATIC_URL }}images/avatar-blank.jpg"></td>
                <td class="wide-column">{{ player.number }}</td>
                <td>{{ player.name }} {{ player.surname }}</td>
                <td class="wide-column">{{ player.position }}</td>
            </tr>
        {% endfor %}
    </table>-->
    <div class="players">
        <ul>
        {% for player in players %}
            <li>
                <img src="{{ STATIC_URL }}images/avatar-blank.jpg" />
                <h3>{{ player.name }} {{ player.surname }}</h3>
                <p>{{ player.position }}</p>
            </li>
        {% endfor %}
        </ul>
    </div>

{% endblock %}